{% extends 'partials/base.html' %}
{% block title%}Sign Up{% endblock%}
{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
  <div class="container">
    <div class="row mt-5 pt-3 ">
      <div class="col-md-5 mx-auto">
        <div class="card shadow my-3">
          <div class="card-body">
              <h3 class="text-center text-primary" >Sign Up</h3>
        <hr>
           <form method="post" class="form">
              {% csrf_token %}
              {{ form|crispy }}

               <div class="text-center mx-auto">
              <input type="submit" class="btn btn-primary btn-block" value="Sign up">
               </div>
            </form>
              <div class="text-center my-3">
                  Already have an account? <a href="{% url 'login'%}">login</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
